* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
